<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--<add key="ConnectionString" value="Provider=Thrift; Uri=net.tcp://localhost" />-->
    <add key="ConnectionString" value="Provider=SQLite; Uri=file://test.db" />
    <add key="Namespace" value="test" />
  </appSettings>
</configuration>